.aider.chat.history.md
.aider.input.history
.env
.aider.tags.cache.v3/cache.db
.aider.tags.cache.v3/cache.db-shm
.aider.tags.cache.v3/cache.db-wal
.aider.tags.cache.v3/6e/05/99451f35617cf5f9e452613911bb.val
.aider.tags.cache.v3/87/c6/7fdd75ac47d8dd5261c71d9ce594.val
.aider.tags.cache.v3/a7/e3/7d98300a7296b5185f5e9efb4dd9.val
.aider.tags.cache.v3/f5/d6/a30ad3a1fe3608c04ca9baceaec6.val
